<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">//вывод в консоль
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>// шаблон который будет выводится запись в логирование
        </encoder>
    </appender>
    <property name="LOG_DIR" value="/var/log/application" />// путь сохранение логирование
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/tests.log</file>
        <append>true</append>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
</configuration>